* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}


main {
    width: min(95%, 50em);
    margin: 0 auto;
    padding: 1em 0;
}


.actions-info {
    display: flex;
    align-items: center;
}

.actions-info > * + * {
    margin: 0 0 0 1em;
}


.actions-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


button {
    border: none;
    border-radius: 0.5em;
    background-color: #4e26d1;
    color: whitesmoke;
    padding: 0.7em 4em;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
}


button:hover {
    background-color: #4624b3;
}


table {
    width: min(95%, 40em);
    margin: 4em auto 0 auto;
}


td {
    border-radius: 0.5em;
    height: 10em;
    width: 3em;
    border: 0.3px solid #4e26d1;
    cursor: pointer;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
}


.active-tile {
    background-color: #4e26d1;
}


.active-tile:hover {
    background-color: #4624b3;
}


.inactive-tile {
    background-color: whitesmoke;
}


.inactive-tile:hover {
    background-color: rgb(236, 236, 236);
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}


.card {
    padding: 2em;
    background-color: whitesmoke;
    width: min(95%, 30em);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    box-shadow: 0px 10px 346px 0px rgba(87, 87, 87, 0.61);
    -webkit-box-shadow: 0px 10px 346px 0px rgba(128,128,128,0.61);
    -moz-box-shadow: 0px 10px 346px 0px rgba(128,128,128,0.61);
}


.card > h1 {
    font-size: 2.5em;
}


.card > * + * {
    margin: 1em 0 0 0;
}